html
    head
        title 3DCHESSNUTT
        meta(name="viewport" content="width=device-width,initial-scale=1")
        link(rel="stylesheet" href="css/index.css")
        script(src="http://localhost:7777/socket.io/socket.io.js")
        script. 
            var socket = io.connect('http://localhost:7777')
    body(id='body' style='margin:0')
        block content
        script(src="libs/jquery.js")
        script(src="libs/react.js")
        script(src="libs/react-dom.js")
        script(src="libs/three.js")
        script(src="libs/MyOrbitControls.js")
        script(src="fonts/helvetiker_regular.typeface.js")
        script(src="libs/EffectComposer.js")
        script(src="libs/RenderPass.js")
        script(src="libs/CopyShader.js")
        script(src="libs/ShaderPass.js")
        script(src="libs/MaskPass.js")
        script(src="libs/JSONLoader.js")
        script(src="libs/Projector.js")
        script(src="libs/tween.js")
        script(src='js/index.js')
